* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

header {
  background-color: #1677ff;
}

header,
.addProduct,
.listProduct {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

th,
td {
  padding: 15px;
}
